* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(166, 165, 163);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(30, 33, 35);
}